@page "/order/add"
@inject IHttpAPIProvider _apiProvider
@using Restaurant_site.client.DTO
@using System.Net.Http.Json
@using Restaurant_site.client.Services
@inject NavigationManager _navigationManager

<PageTitle>Add Orders</PageTitle>

<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" @bind="@order.OrderDetails" required />
    </div>
    <br />
    <button type="button" class="btn btn-primary" @onclick="AddProducts">Add Orders</button>
</form>

@code {
    OrderDTO order = new OrderDTO();


    private async Task AddProducts()
    {
        (bool isSuccessStatusCode, OrderDTO createClient, string message) = await _apiProvider.PostAsync<OrderDTO>("order", order);
        _navigationManager.NavigateTo("/order");
    }
}