<div class="alert alert-@AlertType" role="alert" style="display:@(IsVisible ? "block" : "none")">
    @Message
</div>

@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string AlertType { get; set; } = "success";
    [Parameter]
    public bool IsVisible { get; set; } = false;

    public void Show(string message, string alertType = "success")
    {
        Message = message;
        AlertType = alertType;
        IsVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }
}
