@page "/product/add"
@inject IHttpAPIProvider _apiProvider
@using Restaurant_site.client.DTO
@using System.Net.Http.Json
@using Restaurant_site.client.Services
@inject NavigationManager _navigationManager

<PageTitle>Add Product</PageTitle>

<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" @bind="@product.Name" required />
    </div>
    <div class="form-group">
        <label for="name">Description:</label>
        <input id="name" class="form-control" @bind="@product.Description" required />
    </div>
    <div class="form-group">
        <label for="number">Price:</label>
        <input id="number" class="form-control" @bind="@product.Price" required />
    </div>
    <div class="form-group">
        <label for="name">Photo:</label>
        <input id="name" class="form-control" @bind="@product.Photo" required />
    </div>
@*     <div class="form-group">
        <label for="photo">Photo:</label>
        <InputFile id="photo" class="form-control" OnChange="HandleFileSelected" />
    </div> *@
    <br />
    <button type="button" class="btn btn-primary" @onclick="AddProducts">Add Products</button>
</form>

@code {
    ProductDTO product = new ProductDTO(); 
    // string selectedImage;

    private async Task AddProducts()
    {
        (bool isSuccessStatusCode, ProductDTO createClient, string message) = await _apiProvider.PostAsync<ProductDTO>("product", product);
        _navigationManager.NavigateTo("/product");
    }
    // private async Task HandleFileSelected(InputFileChangeEventArgs e)
    // {
    //         var file = e.File;

    //         if (file != null)
    //         {
    //             var buffer = new byte[file.Size];
    //             await file.OpenReadStream().ReadAsync(buffer);

    //             product.Photo = buffer;
    //         }
    // }
}